@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #E94F08;
  color: white;
  font-family: "Montserrat", sans-serif;
}
